@model IEnumerable<ProyectoGym.Models.Rutina>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rutinas</h1>
<h4>@ViewBag.User.Nombres @ViewBag.User.Apellidos</h4>

<p>
    <a asp-action="Create" asp-route-userId="@ViewBag.User.Id">Nueva rutina</a>
</p>
@foreach (var item in Model) {

<div class="card" style="width: 100%; margin: 5px;">
  <div class="card-body">
    <h5 class="card-title">
        <b>@Html.DisplayNameFor(model => model.FechaInicio): </b>
        @Html.DisplayFor(modelItem => item.FechaInicio)
        &emsp;&emsp;
        <b>@Html.DisplayNameFor(model => model.FechaFin): </b>
        @Html.DisplayFor(modelItem => item.FechaFin)
    </h5>

    <div>
        <textarea class="card-text" style="width:100%; border: none; height: 150px; background-color: #FFFFFF" disabled>@Html.DisplayFor(modelItem => item.Detalle)</textarea>
    </div>
    <a asp-action="Edit" asp-route-userId="@ViewBag.User.Id" asp-route-id="@item.RutinaId">Editar</a> |
    <a asp-action="Delete" asp-route-id="@item.RutinaId">Borrar</a>
  </div>
</div>
}
