@model IEnumerable<ProyectoGym.Models.Rutina>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-userId="@ViewBag.UserId">Nueva rutina</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-userId="@ViewBag.UserId" asp-route-id="@item.RutinaId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.RutinaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@


@foreach (var item in Model) {

<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayNameFor(model => model.FechaInicio)</h5>
    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FechaInicio)</h5>
    <h5 class="card-title">@Html.DisplayNameFor(model => model.FechaFin)</h5>
    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FechaFin)</h5>
    <p class="card-text">@Html.DisplayFor(modelItem => item.Detalle)</p>
    <a asp-action="Edit" asp-route-userId="@ViewBag.UserId" asp-route-id="@item.RutinaId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@item.RutinaId">Delete</a>
  </div>
</div>
}
