@model IEnumerable<ProyectoGym.Models.Rutina>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Rutinas</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="float-left font-weight-bolder">@ViewBag.User.Nombres @ViewBag.User.Apellidos</h4>
        <p class="float-right">
            <a asp-action="Create" asp-route-userId="@ViewBag.User.Id" class="btn btn-primary">Nueva rutina</a>
        </p>
    </div>
</div>

@foreach (var item in Model) {


<div class="card my-3">
  <div class="card-body">
    <h5 class="card-title">
        <b>@Html.DisplayNameFor(model => model.FechaInicio): </b>
        @Html.DisplayFor(modelItem => item.FechaInicio)
        &emsp;&emsp;
                @if (item.FechaFin != null)
                {
                    <b>@Html.DisplayNameFor(model => model.FechaFin): </b>
                }
        @Html.DisplayFor(modelItem => item.FechaFin)
    </h5>

    <textarea class="form-control my-4" disabled>@Html.DisplayFor(modelItem => item.Detalle)</textarea>
    <a asp-action="Edit" asp-route-userId="@ViewBag.User.Id" asp-route-id="@item.RutinaId" class="btn btn-outline-success btn-sm">Editar</a>
    <a asp-action="Delete" asp-route-id="@item.RutinaId" class="btn btn-outline-danger btn-sm">Borrar</a>
  </div>
</div>
}

<div>
    <a asp-area="" asp-controller="Usuario" asp-action="Index">Volver</a>
</div>
