@model ProyectoGym.Models.Actividad

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
